@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: black;
}
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 600px;
    
}
.navigation-user {
    width: 600px;
}
.navigation-list a {
    color: black;
    text-decoration: none;
}
.navigation-user .navigation-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    background-color: rgba(117, 97, 87, 1);
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
    height: 36px;
    padding: 8px 50px 8px 50px;
}
.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.welcome  {
    background-image: url("../img/index-background.png");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
.section-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.section-header-text {
    font-size: 22px;
    line-height: 26px;
    width: 592px;
    height: 52px;

}

.advantages-list {
    
    width: 1200px;
    
    
    margin: 0;
    padding: 0;
}

.list-first li {
    display: flex;
    justify-content: space-between
}

.list-first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-first-block img {
    display: block;
}

.advantages-list p {
    font-size: 18px;
    line-height: 21px;
}
.advantages-title {
    font-size: 24px;
    font-weight:700;
    line-height: 28px;
    text-transform: uppercase;
    width: 175px;
    height: 56px;
}
/* .advantages-item {
    width: 400px;
    height: 385px;
    padding: 103px 85px 103px 85px;
    
} */
.advantages-item.advantages-color-dark {
    background-color: #82B3D3;
    color: #ffffff;
}
.advantages-item.advantages-color-light {
    background-color: rgba(131, 179, 211, 0.12);  
}
.advantages-item.advantages-color {
    background-color: rgba(131, 179, 211, 0.2);
}
.search-hotel {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: rgba(117, 97, 87, 1);
    width: 376px;
    height: 52px;
    padding: 8px 50px 8px 50px;
    text-decoration: none;
    color: #ffffff;
}
.advantages-discription {
    font-size: 18px;
    line-height: 21px;
    max-width: 230px;
}

.section-header-color {
    color: #ffffff;
}
.section-header-text.section-header-text-color {
    color: #ffffff;
}
.subscribe  {
    background-image: url("../img/subscription-background.jpg");
    padding: 96px 258px 104px 258px;
};
   


.subscribe button {
    width: 232px;
    height: 52px;
    padding: 8px 50px 8px 50px;
    color: #ffffff;
    background-color: rgba(130,179,211,1);

}
.subscribe input {
    width: 452px;
    height: 52px;
    padding: 12px 20px 12px 20px;
}

    
.footer-contact-phone {
    font-size: 40px;
    line-height: 40px;
    color: black;
    text-decoration: none;
}
.inner-section {
    background-image: url(../img/catalog-background.jpg);
    background-repeat: no-repeat;
}

.inner-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #ffffff;
}
.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}
.hotels-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.control-input {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}
.page-search {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.header-search select {
    font-size: 28px;
    line-height: 21px;
}
.header-search form {
    width: 292px;
    height: 49px;
    padding: 14px 20px 14px 20px;
}
.product-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: black;
    text-decoration: none;
}
.product-type {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}
.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    
}
.button-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    width: 140px;
    height: 36px;
    padding: 8px 50px 8px 50px;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}
.button-favorites {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    width: 140px;
    height: 36px;
    padding: 8px 7px 8px 7px;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
}
.button-favorites.button-favorites-touch {
    background-color: #7DB54F;
}
.rating {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    width: 140px;
    height: 37px;
    background-color: #F2F2F2;
}
.pagination {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    width: 60px;
    height: 60px;
    color: #ffffff;
    background-color: #82B3D3;
}
.pagination.active {
    color: #000000;
    background-color: #F2F2F2;
}
